# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

streamlit==1.23.1
streamlit-drawable-canvas
matplotlib.pyplot
numpy
PIL
torch
cv2
torchvision
